@import "~@blueprintjs/core/dist/blueprint.css";

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
}

canvas {
  image-rendering: pixelated;
}



.top-ui {
  height: 50px;
  line-height: 50px;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-right: 1rem;
}

.full-width {
  width: 100%;
}

.top-navbar {
  box-shadow: 0px 0px 20px 0px #1c1c1c !important;
}