@import "~@blueprintjs/core/dist/blueprint.css";

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
}

canvas {
  image-rendering: pixelated;
}



.top-ui {
  height: 50px;
  line-height: 50px;
}