@import "~@blueprintjs/core/dist/blueprint.css";

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
}

canvas {
  image-rendering: pixelated;

  cursor: default !important;
}

table {
  border-spacing: 10px 5px;
}



.top-ui {
  height: 50px;
  line-height: 50px;
}

$border-color: rgb(1, 123, 191);
$bg-color: #202B33;
.info-ui {
  background-color: $bg-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid  $border-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  min-height: 50px;
  color: #CED9E0;

  .header {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    font-size: 1.4rem;
  }

  .content {
    padding: 1rem;
  }
}

.modal-ui {
  position: fixed;
  width: 200px;
  height: 125px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: $bg-color;
  border: 1px solid $border-color;
  padding: 1rem;
  color: #CED9E0;
  font-size: 1rem;

  .modal-header {
    text-align: center;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.loading-ui {
  @extend .modal-ui;
  text-align: center;
}

.help-ui {
  @extend .modal-ui;
  width: auto;
  height: auto;
}

.compass-ui.pt-button-group {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;

  button.pt-button {
    width: 30px;
    margin-right: auto !important;
    margin: 0 auto !important;

    &:after {
      content: none !important;
      height: 0 !important;
    }

    &:focus {
      outline-offset: 0;
    }

    &.pt-disabled {
      cursor: unset !important;
    }
  }
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.top-navbar {
  box-shadow: 0px 0px 20px 0px #1c1c1c !important;
}
